@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Pixel Cyr";
  // адрес шрифта и тип
  src: url("resource/fonts/3572.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #BDBDBD;
  margin: 0;
  font-family: 'Pixel Cyr';
  align-items: center;
}

#header {
  width: 1920px;
  height: 76px;
  background: #286DD4;
  margin: auto;
  display: block;
  justify-content: space-between;
}

.leftj {
  position: absolute;
  top: 5px;
  left: 13px;
}

#header p {
  font-size: 46px;
  margin-left: 106px;
  position: absolute;
  color: white;
  line-height: 91.69%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  top: -30px;
}

.rectangle1 {
  width: 1880px;
  height: 115px;
  background: #AAAAAA;
  margin-top: 33px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.plashka img {
  margin-top: 17px;
}

.rcenter {
  width: 100px;
  height: 64px;
  background: #C4C4C4;
  margin-top: 27px;

}

.rcenter img {
  padding-top: 3px;
  margin-left: 20px;

}


#black1 {
  width: 215px;
  height: 67px;
  background: black;
  position: relative;
  margin-top: 22px;
  left: 86px;
}

#black2 {
  width: 215px;
  height: 67px;
  background: black;
  position: relative;
  margin-top: 22px;
  margin-right: 86px;
}

.b1 {
  color: red;
  margin-left: 25px;
  font-size: 48px;
  position: relative;
  align-items: center;
  margin-top: 3px;
}

.b2 {
  color: #008000;
  margin-left: 65px;
  font-size: 48px;
  position: relative;
  align-items: center;
  margin-top: 3px;
}

.b1 {
  animation: blink 2s infinite;
}

.div46 img{
  animation: spin 5s linear 0s infinite;
}
@keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.b2 {
  animation: blinkk 2s infinite;
}

@keyframes blinkk {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(16, 114px);
  grid-template-rows: repeat(9, 114px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-top: 40px;
  margin-left: 18px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background: #d2d2d2;
}

.div2 img {
  width: 96px;
  height: 96px;
  margin-left: 12px;
  margin-top: 13px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #b2b2b2;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #d2d2d2;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #d2d2d2;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #d2d2d2;
}

.div6 {
  grid-area: 1 / 6 / 2 / 7;
  background-color: #d2d2d2;
}

.div7 {
  grid-area: 1 / 7 / 2 / 8;
  background-color: #b2b2b2;
}

.div7 img {
  width: 86px;
  height: 86px;
  margin-top: 14px;
  margin-left: 14px;
}

.div8 {
  grid-area: 1 / 8 / 2 / 9;
  background-color: #d2d2d2;
}

.div9 {
  grid-area: 1 / 9 / 2 / 10;
  background-color: #d2d2d2;
}

.div10 {
  grid-area: 1 / 10 / 2 / 11;
  background-color: #d2d2d2;
}

.div11 {
  grid-area: 1 / 11 / 2 / 12;
  background-color: #d2d2d2;
}

.div12 {
  grid-area: 1 / 12 / 2 / 13;
  background-color: #d2d2d2;
}

.div13 {
  grid-area: 1 / 13 / 2 / 14;
  background-color: #d2d2d2;
}

.div14 {
  grid-area: 1 / 14 / 2 / 15;
  background-color: #d2d2d2;
}

.div15 {
  grid-area: 1 / 15 / 2 / 16;
  background-color: #b2b2b2;
}

.div15 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div16 {
  grid-area: 1 / 16 / 2 / 17;
  background-color: #d2d2d2;
}

.div17 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #d2d2d2;
}

.div18 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #d2d2d2;
}

.div19 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #b2b2b2;
}

.div19 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div20 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: #d2d2d2;
}

.div21 {
  grid-area: 2 / 5 / 3 / 6;
  background-color: #d2d2d2;
}

.div22 {
  grid-area: 2 / 6 / 3 / 7;
  background-color: #d2d2d2;
}

.div23 {
  grid-area: 2 / 7 / 3 / 8;
  background-color: #d2d2d2;
}

.div24 {
  grid-area: 2 / 8 / 3 / 9;
  background-color: #b2b2b2;
}

.div24 p {
  font-size: 18px;
  margin-top: 46px;
  margin-left: 18px;
  color: white;
}

.div25 {
  grid-area: 2 / 9 / 3 / 10;
  background-color: #d2d2d2;
}

.div26 {
  grid-area: 2 / 10 / 3 / 11;
  background-color: #b2b2b2;
}

.div26 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div27 {
  grid-area: 2 / 11 / 3 / 12;
  background-color: #b2b2b2;
}

.div27 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div28 {
  grid-area: 2 / 12 / 3 / 13;
  background-color: #d2d2d2;
}

.div29 {
  grid-area: 2 / 13 / 3 / 14;
  background-color: #d2d2d2;
}

.div30 {
  grid-area: 2 / 14 / 3 / 15;
  background-color: #b2b2b2;
}

.div30 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 13px;
}

.div31 {
  grid-area: 2 / 15 / 3 / 16;
  background-color: #b2b2b2;
}

.div32 {
  grid-area: 2 / 16 / 3 / 17;
  background-color: #d2d2d2;
}

.div31 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div33 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #d2d2d2;
}

.div34 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #d2d2d2;
}

.div35 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div35 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #b2b2b2;
}

.div36 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: #d2d2d2;
}

.div37 {
  grid-area: 3 / 5 / 4 / 6;
  background-color: #b2b2b2;
}

.div37 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div38 {
  grid-area: 3 / 6 / 4 / 7;
  background-color: #d2d2d2;
}

.div39 {
  grid-area: 3 / 7 / 4 / 8;
  background-color: #d2d2d2;
}

.div40 {
  grid-area: 3 / 8 / 4 / 9;
  background-color: #d2d2d2;
}

.div41 {
  grid-area: 3 / 9 / 4 / 10;
  background-color: #d2d2d2;
}

.div42 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div42 {
  grid-area: 3 / 10 / 4 / 11;
  background-color: #b2b2b2;
}

.div43 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div43 {
  grid-area: 3 / 11 / 4 / 12;
  background-color: #b2b2b2;
}

.div44 {
  grid-area: 3 / 12 / 4 / 13;
  background-color: #d2d2d2;
}

.div45 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 13px;
}

.div45 {
  grid-area: 3 / 13 / 4 / 14;
  background-color: #b2b2b2;
}

.div46 {
  grid-area: 3 / 14 / 4 / 15;
  background-color: #b2b2b2;
}

.div46 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
}

.div47 {
  grid-area: 3 / 15 / 4 / 16;
  background-color: #b2b2b2;
}

.div47 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div48 {
  grid-area: 3 / 16 / 4 / 17;
  background-color: #d2d2d2;
}

.div49 {
  grid-area: 4 / 1 / 5 / 2;
  background-color: #d2d2d2;
}

.div50 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: #d2d2d2;
}

.div50 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div51 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div51 {
  grid-area: 4 / 3 / 5 / 4;
  background-color: #b2b2b2;
}

.div52 {
  grid-area: 4 / 4 / 5 / 5;
  background-color: #d2d2d2;
}

.div53 {
  grid-area: 4 / 5 / 5 / 6;
  background-color: #d2d2d2;
}

.div54 {
  grid-area: 4 / 6 / 5 / 7;
  background-color: #b2b2b2;
}

.div54 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div55 {
  grid-area: 4 / 7 / 5 / 8;
  background-color: #d2d2d2;
}

.div56 {
  grid-area: 4 / 8 / 5 / 9;
  background-color: #d2d2d2;
}

.div57 {
  grid-area: 4 / 9 / 5 / 10;
  background-color: #b2b2b2;
}

.div57 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div58 {
  grid-area: 4 / 10 / 5 / 11;
  background-color: #b2b2b2;
}

.div58 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div59 {
  grid-area: 4 / 11 / 5 / 12;
  background-color: #b2b2b2;
}

.div59 img {
  width: 96px;
  height: 96px;
  margin-left: 13px;
  margin-top: 15px
}

.div60 {
  grid-area: 4 / 12 / 5 / 13;
  background-color: #d2d2d2;
}

.div61 {
  grid-area: 4 / 13 / 5 / 14;
  background-color: #d2d2d2;
}

.div62 {
  grid-area: 4 / 14 / 5 / 15;
  background-color: #b2b2b2;
}

.div62 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div63 {
  grid-area: 4 / 15 / 5 / 16;
  background-color: #b2b2b2;
}

.div63 p {
  color: white;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 40px;
}

.div64 {
  grid-area: 4 / 16 / 5 / 17;
  background-color: #d2d2d2;
}

.div65 {
  grid-area: 5 / 1 / 6 / 2;
  background-color: #d2d2d2;
}

.div66 {
  grid-area: 5 / 2 / 6 / 3;
  background-color: #b2b2b2;
}

.div66 p {
  color: white;
  font-size: 18px;
  margin-left: 22px;
  margin-top: 43px;
}

.div67 {
  grid-area: 5 / 3 / 6 / 4;
  background-color: #b2b2b2;
}

.div67 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div68 {
  grid-area: 5 / 4 / 6 / 5;
  background-color: #b2b2b2;
}

.div68 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }
.div69 {
  grid-area: 5 / 5 / 6 / 6;
  background-color: #d2d2d2;
}

.div70 {
  grid-area: 5 / 6 / 6 / 7;
  background-color: #b2b2b2;
}

.div70 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div71 {
  grid-area: 5 / 7 / 6 / 8;
  background-color: #d2d2d2;
}

.div72 {
  grid-area: 5 / 8 / 6 / 9;
  background-color: #d2d2d2;
}

.div73 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div73 {
  grid-area: 5 / 9 / 6 / 10;
  background-color: #b2b2b2;
}

.div74 {
  grid-area: 5 / 10 / 6 / 11;
  background-color: #d2d2d2;
}

.div75 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div75 {
  grid-area: 5 / 11 / 6 / 12;
  background-color: #b2b2b2;
}

.div76 {
  grid-area: 5 / 12 / 6 / 13;
  background-color: #d2d2d2;
}

.div77 {
  grid-area: 5 / 13 / 6 / 14;
  background-color: #b2b2b2;
}

.div77 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div78 {
  grid-area: 5 / 14 / 6 / 15;
  background-color: #b2b2b2;
}

.div78 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div79 {
  grid-area: 5 / 15 / 6 / 16;
  background-color: #b2b2b2;
}

.div79 p {
  color: white;
  font-size: 18px;
  margin-left: 49px;
  margin-top: 40px;
}

.div80 {
  grid-area: 5 / 16 / 6 / 17;
  background-color: #d2d2d2;
}

.div81 {
  grid-area: 6 / 1 / 7 / 2;
  background-color: #d2d2d2;
}

.div82 {
  grid-area: 6 / 2 / 7 / 3;
  background-color: #d2d2d2;
}

.div83 {
  grid-area: 6 / 3 / 7 / 4;
  background-color: #d2d2d2;
}

.div84 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div84 {
  grid-area: 6 / 4 / 7 / 5;
  background-color: #b2b2b2;
}

.div85 {
  grid-area: 6 / 5 / 7 / 6;
  background-color: #d2d2d2;
}

.div86 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div86 {
  grid-area: 6 / 6 / 7 / 7;
  background-color: #b2b2b2;
}

.div87 {
  grid-area: 6 / 7 / 7 / 8;
  background-color: #d2d2d2;
}

.div88 {
  grid-area: 6 / 8 / 7 / 9;
  background-color: #d2d2d2;
}

.div89 {
  grid-area: 6 / 9 / 7 / 10;
  background-color: #b2b2b2;
}

.div89 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div90 {
  grid-area: 6 / 10 / 7 / 11;
  background-color: #b2b2b2;
}

.div90 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div91 {
  grid-area: 6 / 11 / 7 / 12;
  background-color: #b2b2b2;
}

.div91 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
}

.div92 {
  grid-area: 6 / 12 / 7 / 13;
  background-color: #d2d2d2;
}

.div93 {
  grid-area: 6 / 13 / 7 / 14;
  background-color: #b2b2b2;
}

.div93 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div94 {
  grid-area: 6 / 14 / 7 / 15;
  background-color: #d2d2d2;
}

.div95 {
  grid-area: 6 / 15 / 7 / 16;
  background-color: #b2b2b2;
}

.div95 p {
  color: white;
  font-size: 18px;
  margin-left: 22px;
  margin-top: 43px;
}

.div96 {
  grid-area: 6 / 16 / 7 / 17;
  background-color: #d2d2d2;
}

.div97 {
  grid-area: 7 / 1 / 8 / 2;
  background-color: #d2d2d2;
}

.div98 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div98 {
  grid-area: 7 / 2 / 8 / 3;
  background-color: #b2b2b2;
}

.div99 {
  grid-area: 7 / 3 / 8 / 4;
  background-color: #d2d2d2;
}

.div100 {
  grid-area: 7 / 4 / 8 / 5;
  background-color: #d2d2d2;
}

.div101 {
  grid-area: 7 / 5 / 8 / 6;
  background-color: #d2d2d2;
}

.div102 {
  grid-area: 7 / 6 / 8 / 7;
  background-color: #b2b2b2;
}

.div102 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div103 {
  grid-area: 7 / 7 / 8 / 8;
  background-color: #b2b2b2;
}

.div103 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div104 {
  grid-area: 7 / 8 / 8 / 9;
  background-color: #d2d2d2;
}

.div105 {
  grid-area: 7 / 9 / 8 / 10;
  background-color: #d2d2d2;
}

.div106 {
  grid-area: 7 / 10 / 8 / 11;
  background-color: #d2d2d2;
}

.div107 {
  grid-area: 7 / 11 / 8 / 12;
  background-color: #d2d2d2;
}

.div108 {
  grid-area: 7 / 12 / 8 / 13;
  background-color: #d2d2d2;
}

.div109 {
  grid-area: 7 / 13 / 8 / 14;
  background-color: #b2b2b2;
}

.div109 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div110 {
  grid-area: 7 / 14 / 8 / 15;
  background-color: #d2d2d2;
}

.div111 {
  grid-area: 7 / 15 / 8 / 16;
  background-color: #d2d2d2;
}

.div112 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div112 {
  grid-area: 7 / 16 / 8 / 17;
  background-color: #b2b2b2;
}

.div113 {
  grid-area: 8 / 1 / 9 / 2;
  background-color: #d2d2d2;
}

.div114 {
  grid-area: 8 / 2 / 9 / 3;
  background-color: #b2b2b2;
}

.div114 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div115 {
  grid-area: 8 / 3 / 9 / 4;
  background-color: #d2d2d2;
}

.div116 {
  grid-area: 8 / 4 / 9 / 5;
  background-color: #d2d2d2;
}

.div117 {
  grid-area: 8 / 5 / 9 / 6;
  background-color: #d2d2d2;
}

.div118 {
  grid-area: 8 / 6 / 9 / 7;
  background-color: #d2d2d2;
}

.div119 {
  grid-area: 8 / 7 / 9 / 8;
  background-color: #d2d2d2;
}

.div120 {
  grid-area: 8 / 8 / 9 / 9;
  background-color: #d2d2d2;
}

.div121 {
  grid-area: 8 / 9 / 9 / 10;
  background-color: #b2b2b2;
}

.div121 p {
  color: white;
  font-size: 18px;
  margin-left: 41px;
  margin-top: 45px;
}

.div122 {
  grid-area: 8 / 10 / 9 / 11;
  background-color: #b2b2b2;
}

.div122 p {
  color: white;
  font-size: 18px;
  margin-left: 25px;
  margin-top: 47px;
}

.div123 {
  grid-area: 8 / 11 / 9 / 12;
  background-color: #b2b2b2;
}

.div123 p {
  color: white;
  font-size: 18px;
  margin-left: 32px;
  margin-top: 46px;
}

.div124 {
  grid-area: 8 / 12 / 9 / 13;
  background-color: #d2d2d2;
}

.div125 {
  grid-area: 8 / 13 / 9 / 14;
  background-color: #d2d2d2;
}

.div126 {
  grid-area: 8 / 14 / 9 / 15;
  background-color: #b2b2b2;
}

.div126 img {
  width: 86px;
  height: 86px;
  margin-top: 14px;
  margin-left: 14px;
}

.div127 {
  grid-area: 8 / 15 / 9 / 16;
  background-color: #b2b2b2;
}

.div127 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div128 {
  grid-area: 8 / 16 / 9 / 17;
  background-color: #b2b2b2;
}

.div128 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div129 {
  grid-area: 9 / 1 / 10 / 2;
  background-color: #d2d2d2;
}

.div130 {
  grid-area: 9 / 2 / 10 / 3;
  background-color: #d2d2d2;
}

.div131 {
  grid-area: 9 / 3 / 10 / 4;
  background-color: #d2d2d2;
}

.div132 {
  grid-area: 9 / 4 / 10 / 5;
  background-color: #b2b2b2;
}

.div132 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div133 {
  grid-area: 9 / 5 / 10 / 6;
  background-color: #d2d2d2;
}

.div134 {
  grid-area: 9 / 6 / 10 / 7;
  background-color: #b2b2b2;
}

.div135 {
  grid-area: 9 / 7 / 10 / 8;
  background-color: #b2b2b2;
}

.div134 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div135 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  @keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
  }

.div136 {
  grid-area: 9 / 8 / 10 / 9;
  background-color: #d2d2d2;
}

.div137 {
  grid-area: 9 / 9 / 10 / 10;
  background-color: #d2d2d2;
}

.div138 {
  grid-area: 9 / 10 / 10 / 11;
  background-color: #d2d2d2;
}

.div139 {
  grid-area: 9 / 11 / 10 / 12;
  background-color: #d2d2d2;
}

.div140 {
  grid-area: 9 / 12 / 10 / 13;
  background-color: #b2b2d2;
}

.div140 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div141 {
  grid-area: 9 / 13 / 10 / 14;
  background-color: #d2d2d2;
}

.div142 {
  grid-area: 9 / 14 / 10 / 15;
  background-color: #d2d2d2;
}

.div143 {
  grid-area: 9 / 15 / 10 / 16;
  background-color: #d2d2d2;
}

.div144 {
  grid-area: 9 / 16 / 10 / 17;
  background-color: #d2d2d2;
}

.footer {
  width: 1920px;
  height: 96px;
  background: #286DD4;
  color: white;
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin-top: 83px;
}

.footerleft {
  margin-left: 20px;
  margin-bottom: 20px;
}

.footerright {
  margin-right: 1570px;
}
