@font-face {
  font-family: 'Pixel Cyr';
  font-style: normal;
  src: url("../resource/fonts/pixel_cyr_normal.woff2");
  src: url("../resource/fonts/pixel_cyr_normal.woff");
}

body {
  background-color: #BDBDBD;
  margin: 0;
  font-family: 'Pixel Cyr';
  align-items: center;
  max-width: 1920px;
  overflow-x: hidden;
}

#header {
  width: 1920px;
  height: 76px;
  background: #286DD4;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.leftj {
  position: relative;
  top: 5px;
  left: 13px;
}

#header p {
  font-size: 46px;
  margin-left: 106px;
  position: absolute;
  color: white;
  line-height: 91.69%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  top: -36px;
}

.plashka {
  margin-top: 17px;
  margin-right: 20px;
}

.rcenter {
  width: 116px;
  height: 64px;
  background: #C4C4C4;
  margin-top: 27px;
  margin-left: 80px;
}

.img {
  background-image: url('../resource/img/asmilepng.png');
  margin-left: 30px;
  width: 54px;
  height: 58px;
  position: relative;
  display: block;
  animation: walk .5s steps(2) infinite;
  margin-top: 3px;
}

@keyframes walk {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -108px 0px;
  }
}

.black1 {
  width: 215px;
  height: 67px;
  background: black;
  position: relative;
  margin-top: 22px;
  left: 86px;
}

.black2 {
  width: 215px;
  height: 67px;
  background: black;
  position: relative;
  margin-top: 22px;
  margin-right: 86px;
}

.b1 {
  color: red;
  margin-left: 50px;
  font-size: 48px;
  position: relative;
  margin-top: 3px;
}

.b2 {
  color: #008000;
  margin-left: 75px;
  font-size: 48px;
  position: relative;
  align-items: center;
  margin-top: 3px;
}

.b1 {
  animation: blink 2s infinite;
}

.b2 {
  animation: blink 2s infinite;
}

.rectangle1 {
  width: 1880px;
  height: 115px;
  background: #AAAAAA;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 33px;
  margin-left: 20px;
}

.black1 {
  width: 215px;
  height: 67px;
  background: black;
  position: relative;
  margin-top: 22px;
  left: 86px;
}

.div46 img {
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blinkk {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(16, 114px);
  grid-template-rows: repeat(9, 114px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-top: 40px;
  margin-left: 18px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background: #d2d2d2;
}

.div1:hover {
  background-color: #2B65EC;
  cursor: pointer;
}

.div2 img {
  width: 96px;
  height: 96px;
  margin-left: 12px;
  margin-top: 13px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #b2b2b2;
}

.div3:hover {
  background-color: #E42217;
  cursor: pointer;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #d2d2d2;
}

.div4:hover {
  background-color: #E41B17;
  cursor: pointer;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #d2d2d2;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #d2d2d2;
}

.div6 {
  grid-area: 1 / 6 / 2 / 7;
  background-color: #d2d2d2;
}

.div6:hover {
  background-color: #F75D59;
  cursor: pointer;
}

.div7 {
  grid-area: 1 / 7 / 2 / 8;
  background-color: #b2b2b2;
}

.div7 img {
  width: 86px;
  height: 86px;
  margin-top: 14px;
  margin-left: 14px;
  animation: zoomInZoomOut 2s;
  /* Animation */
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes zoomInZoomOut {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* .div7 img:{
  transform: scale(1.5);
} */
.div8 {
  grid-area: 1 / 8 / 2 / 9;
  background-color: #d2d2d2;
}

.div9 {
  grid-area: 1 / 9 / 2 / 10;
  background-color: #d2d2d2;
}

.div10 {
  grid-area: 1 / 10 / 2 / 11;
  background-color: #d2d2d2;
}

.div11 {
  grid-area: 1 / 11 / 2 / 12;
  background-color: #d2d2d2;
}

.div12 {
  grid-area: 1 / 12 / 2 / 13;
  background-color: #d2d2d2;
}

.div13 {
  grid-area: 1 / 13 / 2 / 14;
  background-color: #d2d2d2;
}

.div14 {
  grid-area: 1 / 14 / 2 / 15;
  background-color: #d2d2d2;
}

.div15 {
  grid-area: 1 / 15 / 2 / 16;
  background-color: #b2b2b2;
}

.div15 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div16 {
  grid-area: 1 / 16 / 2 / 17;
  background-color: #d2d2d2;
}

.div17 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #d2d2d2;
}

.div17:hover {
  background-color: #00BFFF;
  cursor: pointer;
}

.div18 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #d2d2d2;
}

.div19 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #b2b2b2;
}

.div19 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div20 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: #d2d2d2;
}

.div20:hover {
  background-color: #FF6700;
  cursor: pointer;
}

.div21 {
  grid-area: 2 / 5 / 3 / 6;
  background-color: #d2d2d2;
}

.div22 {
  grid-area: 2 / 6 / 3 / 7;
  background-color: #d2d2d2;
}

.div23 {
  grid-area: 2 / 7 / 3 / 8;
  background-color: #d2d2d2;
}

.div23:hover {
  background-color: #50C878;
  cursor: pointer;
}

.div24 {
  grid-area: 2 / 8 / 3 / 9;
  background-color: #b2b2b2;
}

.div24 p {
  font-size: 18px;
  margin-top: 46px;
  margin-left: 18px;
  color: white;
}

.div25 {
  grid-area: 2 / 9 / 3 / 10;
  background-color: #d2d2d2;
}

.div26 {
  grid-area: 2 / 10 / 3 / 11;
  background-color: #b2b2b2;
}

.div26 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div27 {
  grid-area: 2 / 11 / 3 / 12;
  background-color: #b2b2b2;
}

.div27 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div28 {
  grid-area: 2 / 12 / 3 / 13;
  background-color: #d2d2d2;
}

.div28:hover {
  background-color: #736AFF;
  cursor: pointer;
}

.div29 {
  grid-area: 2 / 13 / 3 / 14;
  background-color: #d2d2d2;
}

.div30 {
  grid-area: 2 / 14 / 3 / 15;
  background-color: #b2b2b2;
}

.div30 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 13px;
}

.div31 {
  grid-area: 2 / 15 / 3 / 16;
  background-color: #b2b2b2;
}

.div32 {
  grid-area: 2 / 16 / 3 / 17;
  background-color: #d2d2d2;
}

.div32:hover {
  background-color: #40E0D0;
  cursor: pointer;
}

.div31 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div33 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #d2d2d2;
}

.div34 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #d2d2d2;
}

.div35 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div35 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #b2b2b2;
}

.div36 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: #d2d2d2;
}

.div36:hover {
  background-color: #FF5F1F;
  cursor: pointer;
}

.div37 {
  grid-area: 3 / 5 / 4 / 6;
  background-color: #b2b2b2;
}

.div37 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div38 {
  grid-area: 3 / 6 / 4 / 7;
  background-color: #d2d2d2;
}

.div39 {
  grid-area: 3 / 7 / 4 / 8;
  background-color: #d2d2d2;
}

.div40 {
  grid-area: 3 / 8 / 4 / 9;
  background-color: #d2d2d2;
}

.div41 {
  grid-area: 3 / 9 / 4 / 10;
  background-color: #d2d2d2;
}

.div41:hover {
  background-color: #4AA02C;
  cursor: pointer;
}

.div42 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div42 {
  grid-area: 3 / 10 / 4 / 11;
  background-color: #b2b2b2;
}

.div43 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div43 {
  grid-area: 3 / 11 / 4 / 12;
  background-color: #b2b2b2;
}

.div44 {
  grid-area: 3 / 12 / 4 / 13;
  background-color: #d2d2d2;
}

.div44:hover {
  background-color: #571B7E;
  cursor: pointer;
}

.div144:hover {
  background-color: #3CB371;
  cursor: pointer;
}

.div45 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 13px;
}

.div45 {
  grid-area: 3 / 13 / 4 / 14;
  background-color: #b2b2b2;
}

.div46 {
  grid-area: 3 / 14 / 4 / 15;
  background-color: #b2b2b2;
}

.div46 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
}

.div47 {
  grid-area: 3 / 15 / 4 / 16;
  background-color: #b2b2b2;
}

.div47 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div48 {
  grid-area: 3 / 16 / 4 / 17;
  background-color: #d2d2d2;
}

.div48:hover {
  background-color: #9370DB;
  cursor: pointer;
}

.div49 {
  grid-area: 4 / 1 / 5 / 2;
  background-color: #d2d2d2;
}

.div50 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: #d2d2d2;
}

.div50 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div51 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div51 {
  grid-area: 4 / 3 / 5 / 4;
  background-color: #b2b2b2;
}

.div52 {
  grid-area: 4 / 4 / 5 / 5;
  background-color: #d2d2d2;
}

.div52:hover {
  background-color: #E9AB17;
  cursor: pointer;
}

.div53 {
  grid-area: 4 / 5 / 5 / 6;
  background-color: #d2d2d2;
}

.div53:hover {
  background-color: #E8A317;
  cursor: pointer;
}

.div54 {
  grid-area: 4 / 6 / 5 / 7;
  background-color: #b2b2b2;
}

.div54 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div55 {
  grid-area: 4 / 7 / 5 / 8;
  background-color: #d2d2d2;
}

.div55:hover {
  background-color: #E42217;
  cursor: pointer;
}

.div56 {
  grid-area: 4 / 8 / 5 / 9;
  background-color: #d2d2d2;
}

.div56:hover {
  background-color: #FFEF00;
  cursor: pointer;
}

.div57 {
  grid-area: 4 / 9 / 5 / 10;
  background-color: #b2b2b2;
}

.div57 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
  animation: zoomInZoomOut 3s infinite, wallk 3s steps(1) infinite;
  position: absolute;
}

@keyframes zoomInZoomOut {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.4, 1.4);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes wallk {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.div58 {
  grid-area: 4 / 10 / 5 / 11;
  background-color: #b2b2b2;
}

.div58 img {
  width: 96px;
  height: 96px;
  margin-right: 9px;
  margin-left: 20px;
  margin-top: 25px;
  animation: shake .1s infinite alternate;
}

.div59 {
  grid-area: 4 / 11 / 5 / 12;
  background-color: #b2b2b2;
}

.div59 img {
  width: 96px;
  height: 96px;
  margin-left: 13px;
  margin-top: 15px
}

.div60 {
  grid-area: 4 / 12 / 5 / 13;
  background-color: #d2d2d2;
}

.div60:hover {
  background-color: #8467D7;
  cursor: pointer;
}

.div61 {
  grid-area: 4 / 13 / 5 / 14;
  background-color: #d2d2d2;
}

.div62 {
  grid-area: 4 / 14 / 5 / 15;
  background-color: #b2b2b2;
}

.div62 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div63 {
  grid-area: 4 / 15 / 5 / 16;
  background-color: #b2b2b2;
}

.div63 p {
  color: white;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 40px;
}

.div64 {
  grid-area: 4 / 16 / 5 / 17;
  background-color: #d2d2d2;
}

.div64:hover {
  background-color: #D2691E;
  cursor: pointer;
}

.div65 {
  grid-area: 5 / 1 / 6 / 2;
  background-color: #d2d2d2;
}

.div65:hover {
  background-color: #7D0552;
  cursor: pointer;
}

.div66 {
  grid-area: 5 / 2 / 6 / 3;
  background-color: #b2b2b2;
}

.div66 p {
  color: white;
  font-size: 18px;
  margin-left: 22px;
  margin-top: 43px;
}

.div67 {
  grid-area: 5 / 3 / 6 / 4;
  background-color: #b2b2b2;
}

.div67 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div68 {
  grid-area: 5 / 4 / 6 / 5;
  background-color: #b2b2b2;
}

.div68 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div69 {
  grid-area: 5 / 5 / 6 / 6;
  background-color: #d2d2d2;
}

.div69:hover {
  background-color: #7CFC00;
  cursor: pointer;
}

.div70 {
  grid-area: 5 / 6 / 6 / 7;
  background-color: #b2b2b2;
}

.div70 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div71 {
  grid-area: 5 / 7 / 6 / 8;
  background-color: #d2d2d2;
}

.div71:hover {
  background-color: #800000;
  cursor: pointer;
}

.div72 {
  grid-area: 5 / 8 / 6 / 9;
  background-color: #d2d2d2;
}

.div72:hover {
  background-color: #FFA500;
  cursor: pointer;
}

.div73 img {
  width: 96px;
  height: 96px;
  margin-right: 9px;
  margin-left: 20px;
  margin-top: 25px;
  animation: shake .1s infinite alternate;
}

.div73 {
  grid-area: 5 / 9 / 6 / 10;
  background-color: #b2b2b2;
}

.div74 {
  grid-area: 5 / 10 / 6 / 11;
  background-color: #d2d2d2;
}

.div75 img {
  width: 96px;
  height: 96px;
  margin-right: 9px;
  margin-left: 20px;
  margin-top: 25px;
  animation: shake .1s infinite alternate;

}

.div75 {
  grid-area: 5 / 11 / 6 / 12;
  background-color: #b2b2b2;
}

.div76 {
  grid-area: 5 / 12 / 6 / 13;
  background-color: #d2d2d2;
}

.div76:hover {
  background-color: #0000CD;
  cursor: pointer;
}

.div77 {
  grid-area: 5 / 13 / 6 / 14;
  background-color: #b2b2b2;
}

.div77 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div78 {
  grid-area: 5 / 14 / 6 / 15;
  background-color: #b2b2b2;
}

.div78 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div79 {
  grid-area: 5 / 15 / 6 / 16;
  background-color: #b2b2b2;
}

.div79 p {
  color: white;
  font-size: 18px;
  margin-left: 49px;
  margin-top: 40px;
}

.div80 {
  grid-area: 5 / 16 / 6 / 17;
  background-color: #d2d2d2;
}

.div81 {
  grid-area: 6 / 1 / 7 / 2;
  background-color: #d2d2d2;
}

.duv81:hover {
  background-color: #F660AB;
  cursor: pointer;
}

.div82 {
  grid-area: 6 / 2 / 7 / 3;
  background-color: #d2d2d2;
}

.div83 {
  grid-area: 6 / 3 / 7 / 4;
  background-color: #d2d2d2;
}

.div84 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div84 {
  grid-area: 6 / 4 / 7 / 5;
  background-color: #b2b2b2;
}

.div85 {
  grid-area: 6 / 5 / 7 / 6;
  background-color: #d2d2d2;
}

.div85:hover {
  background-color: #66FF00;
  cursor: pointer;
}

.div86 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div86 {
  grid-area: 6 / 6 / 7 / 7;
  background-color: #b2b2b2;
}

.div87 {
  grid-area: 6 / 7 / 7 / 8;
  background-color: #d2d2d2;
}

.div88 {
  grid-area: 6 / 8 / 7 / 9;
  background-color: #d2d2d2;
}

.div88:hover {
  background-color: #E9AB17;
  cursor: pointer;
}

.div89 {
  grid-area: 6 / 9 / 7 / 10;
  background-color: #b2b2b2;
}

.div89 img {
  width: 96px;
  height: 96px;
  margin-left: 20px;
  margin-top: 25px;
  margin-right: 9px;
  animation: shake .1s infinite alternate;
}
  @keyframes shake {

    0% { transform: translate(-8px, -14px); }
      33% { transform: translate(-10px, -14px); }
      66% { transform: translate(-10px, -16px); }
      100% { transform: translate(-8px, -16px); }
}
.div90 {
  grid-area: 6 / 10 / 7 / 11;
  background-color: #b2b2b2;
}

.div90 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 9px;
  animation: zoomInZoomOut 3s infinite, wallk 3s steps(1) infinite;
  position: absolute;
}

@keyframes zoomInZoomOut {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.4, 1.4);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes wallk {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.div91 {
  grid-area: 6 / 11 / 7 / 12;
  background-color: #b2b2b2;
}

.div91 img {
  width: 96px;
  height: 96px;
  margin-left: 11px;
  margin-left: 20px;
  margin-top: 25px;
  animation: shake .1s infinite alternate;
}

.div92 {
  grid-area: 6 / 12 / 7 / 13;
  background-color: #d2d2d2;
}

.div92:hover {
  background-color: #4B0082;
  cursor: pointer;
}

.div93 {
  grid-area: 6 / 13 / 7 / 14;
  background-color: #b2b2b2;
}

.div93 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div94 {
  grid-area: 6 / 14 / 7 / 15;
  background-color: #d2d2d2;
}

.div95 {
  grid-area: 6 / 15 / 7 / 16;
  background-color: #b2b2b2;
}

.div95 p {
  color: white;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 43px;
}

.div96 {
  grid-area: 6 / 16 / 7 / 17;
  background-color: #d2d2d2;
}

.div97 {
  grid-area: 7 / 1 / 8 / 2;
  background-color: #d2d2d2;
}

.div97:hover {
  background-color: #DF73D4;
  cursor: pointer;
}

.div98 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div98 {
  grid-area: 7 / 2 / 8 / 3;
  background-color: #b2b2b2;
}

.div99 {
  grid-area: 7 / 3 / 8 / 4;
  background-color: #d2d2d2;
}

.div100 {
  grid-area: 7 / 4 / 8 / 5;
  background-color: #d2d2d2;
}

.div101 {
  grid-area: 7 / 5 / 8 / 6;
  background-color: #d2d2d2;
}

.div101:hover {
  background-color: #43C6DB;
  cursor: pointer;
}

.div102 {
  grid-area: 7 / 6 / 8 / 7;
  background-color: #b2b2b2;
}

.div102 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div103 {
  grid-area: 7 / 7 / 8 / 8;
  background-color: #b2b2b2;
}

.div103 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div104 {
  grid-area: 7 / 8 / 8 / 9;
  background-color: #d2d2d2;
}

.div105 {
  grid-area: 7 / 9 / 8 / 10;
  background-color: #d2d2d2;
}

.div106 {
  grid-area: 7 / 10 / 8 / 11;
  background-color: #d2d2d2;
}

.div106:hover {
  background-color: #FF5F1F;
  cursor: pointer;
}

.div107 {
  grid-area: 7 / 11 / 8 / 12;
  background-color: #d2d2d2;
}

.div107:hover {
  background-color: #F08080;
  cursor: pointer;
}

.div108 {
  grid-area: 7 / 12 / 8 / 13;
  background-color: #d2d2d2;
}

.div109 {
  grid-area: 7 / 13 / 8 / 14;
  background-color: #b2b2b2;
}

.div109 p {
  font-size: 96px;
  color: #008000;
  margin-top: 0px;
  margin-left: 39px;
}

.div110 {
  grid-area: 7 / 14 / 8 / 15;
  background-color: #d2d2d2;
}

.div111 {
  grid-area: 7 / 15 / 8 / 16;
  background-color: #d2d2d2;
}

.div112 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div112 {
  grid-area: 7 / 16 / 8 / 17;
  background-color: #b2b2b2;
}

.div113 {
  grid-area: 8 / 1 / 9 / 2;
  background-color: #d2d2d2;
}

.div113:hover {
  background-color: #6960EC;
  cursor: pointer;
}

.div114 {
  grid-area: 8 / 2 / 9 / 3;
  background-color: #b2b2b2;
}

.div114 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div115 {
  grid-area: 8 / 3 / 9 / 4;
  background-color: #d2d2d2;
}

.div116 {
  grid-area: 8 / 4 / 9 / 5;
  background-color: #d2d2d2;
}

.div117 {
  grid-area: 8 / 5 / 9 / 6;
  background-color: #d2d2d2;
}

.div117:hover {
  background-color: #43BFC7;
  cursor: pointer;
}

.div118 {
  grid-area: 8 / 6 / 9 / 7;
  background-color: #d2d2d2;
}

.div118:hover {
  background-color: #00BFFF;
  cursor: pointer;
}

.div119 {
  grid-area: 8 / 7 / 9 / 8;
  background-color: #d2d2d2;
}

.div119:hover {
  background-color: #3BB9FF;
  cursor: pointer;
}

.div120 {
  grid-area: 8 / 8 / 9 / 9;
  background-color: #d2d2d2;
}

.div120:hover {
  background-color: #38ACEC;
  cursor: pointer;
}

.div121 {
  grid-area: 8 / 9 / 9 / 10;
  background-color: #b2b2b2;
}

.div121 p {
  color: white;
  font-size: 18px;
  margin-left: 41px;
  margin-top: 45px;
}

.div122 {
  grid-area: 8 / 10 / 9 / 11;
  background-color: #b2b2b2;
}

.div122 p {
  color: white;
  font-size: 18px;
  margin-left: 25px;
  margin-top: 47px;
}

.div123 {
  grid-area: 8 / 11 / 9 / 12;
  background-color: #b2b2b2;
}

.div123 p {
  color: white;
  font-size: 18px;
  margin-left: 32px;
  margin-top: 46px;
}

.div124 {
  grid-area: 8 / 12 / 9 / 13;
  background-color: #d2d2d2;
}

.div125 {
  grid-area: 8 / 13 / 9 / 14;
  background-color: #d2d2d2;
}

.div126 {
  grid-area: 8 / 14 / 9 / 15;
  background-color: #b2b2b2;
}

.div126 img {
  width: 86px;
  height: 86px;
  margin-top: 14px;
  margin-left: 14px;
  transition: transform .2s;
  /* Animation */
}

.div126 img:hover {
  transform: scale(1.5);
}

.div127 {
  grid-area: 8 / 15 / 9 / 16;
  background-color: #b2b2b2;
}

.div127 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div128 {
  grid-area: 8 / 16 / 9 / 17;
  background-color: #b2b2b2;
}

.div128 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div129 {
  grid-area: 9 / 1 / 10 / 2;
  background-color: #d2d2d2;
}

.div130 {
  grid-area: 9 / 2 / 10 / 3;
  background-color: #d2d2d2;
}

.div131 {
  grid-area: 9 / 3 / 10 / 4;
  background-color: #d2d2d2;
}

.div132 {
  grid-area: 9 / 4 / 10 / 5;
  background-color: #b2b2b2;
}

.div132 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div133 {
  grid-area: 9 / 5 / 10 / 6;
  background-color: #d2d2d2;
}

.div134 {
  grid-area: 9 / 6 / 10 / 7;
  background-color: #b2b2b2;
}

.div135 {
  grid-area: 9 / 7 / 10 / 8;
  background-color: #b2b2b2;
}

.div134 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div135 img {
  width: 96px;
  height: 96px;
  margin-top: 12px;
  margin-left: 8px;
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.div136 {
  grid-area: 9 / 8 / 10 / 9;
  background-color: #d2d2d2;
}

.div136:hover {
  background-color: #663399;
  cursor: pointer;
}

.div137 {
  grid-area: 9 / 9 / 10 / 10;
  background-color: #d2d2d2;
}

.div137:hover {
  background-color: #8a2be2;
  cursor: pointer;
}

.div138 {
  grid-area: 9 / 10 / 10 / 11;
  background-color: #d2d2d2;
}

.div138:hover {
  background-color: #9400d3;
  cursor: pointer;
}

.div139 {
  grid-area: 9 / 11 / 10 / 12;
  background-color: #d2d2d2;
}

.div139:hover {
  background-color: #9932cc;
  cursor: pointer;
}

.div140 {
  grid-area: 9 / 12 / 10 / 13;
  background-color: #b2b2b2;
}

.div140 p {
  font-size: 96px;
  color: #286DD4;
  margin-top: 0px;
  margin-left: 39px;
}

.div141 {
  grid-area: 9 / 13 / 10 / 14;
  background-color: #d2d2d2;
}

.div141:hover {
  background-color: #228B22;
  cursor: pointer;
}

.div142 {
  grid-area: 9 / 14 / 10 / 15;
  background-color: #d2d2d2;
}

.div142:hover {
  background-color: #FF8C00;
  cursor: pointer;
}

.div143 {
  grid-area: 9 / 15 / 10 / 16;
  background-color: #d2d2d2;
}

.div144 {
  grid-area: 9 / 16 / 10 / 17;
  background-color: #d2d2d2;
}

.footer {
  width: 100%;
  height: 76px;
  background: #286DD4;
  color: white;
  /* position: absolute; */

  margin-top: 43px;
}

.footerleft p {
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
}
